spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://152.136.226.14:3306/ClockIn?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8
    username: root
    password: 10101010
    driver-class-name: com.mysql.cj.jdbc.Driver
    sql-script-encoding: utf-8
    initialization-mode: never
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
